html{
    overflow-x: hidden;
}

body{
    margin: 0;
}

header{
     position: fixed;
     height: 50px;
     top: 0;
     left: 0;
     z-index: 9999;
     width: 100%;
     background-color: rgba(29, 29, 31, 0.95); 
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 217, 74, 0.2); 
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.header-content {
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 13px;
 }


input[type="submit"]:disabled {
            background-color: #555 !important;
            color: #888 !important;
            cursor: not-allowed !important;
            opacity: 0.6;
        }
        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%; /* Centrato meglio */
            transform: translateY(-50%);
            cursor: pointer;
            color: #333; 
            user-select: none;
            z-index: 10;
        }
        .password-container {
            position: relative;
            width: 100%;
        }
        /* STILE PER IL TOOLTIP (ETICHETTA) */
        .tooltip-requirements {
            display: none; /* Nascosto di default */
            position: absolute;
            bottom: 100%; /* Appare sopra l'input */
            top:100%;
            height: 80px;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.85em;
            margin-bottom: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.3);
            border: 1px solid #FFD94A;
            z-index: 100;
        }
        .tooltip-requirements ul {
            margin: 0;
            padding-left: 20px;
            list-style-type: circle;
        }
        .tooltip-requirements li {
            margin-bottom: 3px;
        }
        
        /* Stili Tab */
        .tab-switch {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 20px;
            cursor: pointer;
            user-select: none;
        }
        .tab-active {
            color: #FFD94A;
            font-weight: bold;
            text-decoration: underline;
        }
        .tab-inactive {
            color: #888;
        }
        .tab-inactive:hover {
            color: white;
        }
        .hidden {
            display: none;
        }

 