/* CONTENITORE PRINCIPALE E SFONDO */

.container {
    display: flex;
    /*Allinea tutto il contenuto verticalmente*/
    align-items: center;
    /*Centra tutto il contenuto orizzontalmente*/
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.container img {
    position: fixed;
    width: 50%;
    height: 50%;
    object-fit: contain;
}


/* --- Posizionamento Oggetti di Sfondo --- */

.top-left {
    top: 5%;
    left: 5%;
}

.top-right {
    top: 5%;
    right: 5%;
}

.cent-top {
    top: 5%;
}

.cent-left {
    top: 25%;
    left: 5%;
}

.cent-right {
    top: 25%;
    right: 5%;
}

.bott-left {
    bottom: 5%;
    left: 5%;
}

.bott-right {
    bottom: 5%;
    right: 5%;
}


/* Dimensioni Oggetti */

.pane {
    width: 40% !important;
    height: 40% !important;
}

.tagliere {
    width: 70% !important;
    height: 70% !important;
}

.freccia {
    top: 500px;
    width: 8% !important;
    height: 8% !important;
}


/* WRAPPER E STRUTTURA PANNELLI (SLIDER) */

.wrapper {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 120vh;
    overflow: hidden;
}

.pannelli {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 400vw;
    height: 120vh;
    /* Anima lo spostamento dei pannelli (quando premi le frecce) con una transizione di mezzo secondo */
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.panel,
.panel2,
.panel3,
.panel4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 95vh;
    margin: 2vh 25vw 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


/* Colori specifici per i pannelli */

.panel {
    background-color: #C08081;
}

.panel2 {
    background-color: #D8A8A8;
}

.panel3 {
    background-color: #E8A8A8;
}

.panel4 {
    background-color: #fda3a3;
}


/* CONTENUTI INTERNI DEI PANNELLI */

.pack-base {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.pack-base h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1vh;
}

.pack-base p {
    position: relative;
    top: 15px;
    margin: 0;
    padding: 0 10px;
}

h4 {
    position: relative;
    margin-top: 20px;
    font-size: 1.8vh;
    text-align: center;
}

h4 a {
    /*Per il titolo cliccabile toglie la classica  riga sottolineata di default dei browser */
    text-decoration: none;
}

.img-pack {
    display: block;
    width: 90%;
    height: fit-content;
    margin: auto;
    border-radius: 20px;
    object-fit: contain;
}

.frslider {
    /* Seleziona le frecce cliccabili per scorrere avanti o indietro i pannelli */
    width: 10%;
    color: #1d1d1f;
    transition: transform 0.3s ease;
}

.frslider:hover {
    /*Animazione fluida (0.3 secondi) per quando si passa alle frecci e con il mouse */
    transform: scale(1.2);
}


/* STILI FORM PRENOTAZIONE E MESSAGGI */

.booking-form {
    /*Seleziona la data per prenotare il pacchetto */
    display: flex;
    /*Inserisce campo di prenotazione e tasto uno sopra l'altro*/
    flex-direction: column;
    /*Li allinea cnetrali uno rispetto all'altro */
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.date-select {
    max-width: 90%;
    padding: 8px;
    background: #ffffff;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
    /* Disegna un bordino grigio molto sottile e tenue */
    border: 1px solid #ccc;
    border-radius: 5px;
    /*Quando si passa con il muose sopra gli elementi, il cursore diventa una mano1*/
    cursor: pointer;
}

.btn-prenota-pack {
    /*bottone prenota*/
    padding: 10px 20px;
    background: #FFD94A;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*Anima la grandezza e il cambio di colore*/
    transition: transform 0.2s, background-color 0.2s;
}

.btn-prenota-pack:hover {
    background-color: #1ebe57;
    transform: scale(1.05);
}

.msg-warning {
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFD94A;
    font-size: 0.9em;
    font-style: italic;
    border-radius: 5px;
}


/* MEDIA QUERIES (RESPONSIVE) */


/*ADATTAMENTO PER MEZZO SCHERMO E TABLET  */

@media (max-width: 1100px) {
    .panel,
    .panel2,
    .panel3,
    .panel4 {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        width: 85vw !important;
        min-height: 60vh !important;
        height: auto !important;
        max-height: 90vw !important;
        margin: 0 7.5vw !important;
        padding: 20px 20px 40px !important;
    }
    .img-pack {
        width: 80% !important;
        max-height: 40vh !important;
        margin: 15px auto !important;
    }
}


/* --- ADATTAMENTO PER SMARTPHONE --- */

@media (max-width: 768px) {
    .panel,
    .panel2,
    .panel3,
    .panel4 {
        width: 90vw;
        max-height: 80vh;
        margin: 0 5vw;
        padding: 20px;
    }
    .pack-base h3 {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .img-pack {
        margin-bottom: 15px;
        border-radius: 8px;
    }
}