/*RESET E IMPOSTAZIONI GLOBALE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Impostazioni per il tag radice dell'intero documento */
    /* Nasconde tutto ciò che esce fuori a destra o sinistra, prevenendo lo scroll orizzontale */
    overflow-x: hidden;
}

body {
    margin: 0;
    padding-top: 40px;
    background-color: #1d1d1f;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: rgba(29, 29, 31, 0.95);
    border-bottom: 1px solid rgba(255, 217, 74, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    /* Sfoca ciò che passa dietro all'header trasparente  */
    backdrop-filter: blur(10px);
}

.header-content {
    /* Contenitore interno dell'header che allinea il menu */
    display: flex;
    align-items: center;
    /* Spinge il link "Torna alla home" a sinistra e il menu a destra, creando spazio al centro */
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
}


/* LAYOUT PROFILO E BOX */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.profile-grid {
    /*contenitore per disporre gli elementi a griglia */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}


/* Accorpamento classi box quasi identiche */

.box,
.box1 {
    padding: 25px 40px 25px 25px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #333;
    border-radius: 10px;
}

.box1 {
    height: fit-content;
}

h2 {
    margin-top: 0;
    padding-bottom: 10px;
    color: #FFD94A;
    border-bottom: 1px solid #444;
}


/* FORM, INPUT E TOOLTIP */

label {
    /* Seleziona le etichette di testo sopra i campi di input */
    display: block;
    margin-top: 15px;
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    /* Seleziona i campi di testo normale e i campi per le password*/
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
}

.password-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.toggle-password {
    /*bottone per rivelare la password nascosta*/
    position: absolute;
    top: 1vh;
    right: 10px;
    z-index: 10;
    color: #ccc;
    cursor: pointer;
}

.toggle-password img {
    /*occhio nascosto dentro al bottone*/
    width: 25px;
    height: 29px;
}


/* Tooltip Requisiti Password */

.tooltip-requirements {
    /*popup che mostra le regole per creare una nuova password*/
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    font-size: 0.85em;
    border: 1px solid #FFD94A;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tooltip-requirements ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: circle;
}

.tooltip-requirements li {
    margin-bottom: 3px;
}


/* TABELLA PRENOTAZIONI */

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    /*Celle di intestazione e celle per i dati della tabella*/
    padding: 12px 3px 12px 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    color: #FFD94A;
}

tr:hover {
    /* Regola attiva quando il mouse passa sopra un'intera riga della tabella */
    /*Evidenzia la riga schierandola con un bianco trasparente*/
    background: rgba(255, 255, 255, 0.05);
}


/* BOTTONI E MESSAGGI DI FEEDBACK*/

.btn-save {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #FFD94A;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*Animazione sulla trasparenza per quando si disabilita*/
    transition: opacity 0.3s;
}

.btn-save:disabled {
    /* Stato del bottone quando è bloccato e non cliccabile */
    background-color: #555;
    color: #888;
    cursor: not-allowed;
}


/* Accorpamento stili base messaggi */

.success,
.error {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background: rgba(75, 181, 67, 0.2);
    color: #4BB543;
}

.error {
    background: rgba(255, 77, 77, 0.2);
    color: #ff4d4d;
}


/* MAPPA LEAFLET */

#map {
    /*Il contenitore (div) destinato a caricare la mappa interattiva Leaflet/Google Maps */
    /*inzialmente la mappa non è visibile se non si clicca sul pulsante */
    display: none;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #444;
    border-radius: 10px;
}


/* FOOTER */

footer {
    display: grid;
    /* 3 colonne di larghezza uguale (1 frazione di spazio ciascuna) */
    grid-template-columns: repeat(3, 1fr);
    gap: 15%;
    /*Allinea i contenuti di ogni colonna in alto */
    align-items: start;
    /*Centra orizzontalmente il contenuto della colonna*/
    justify-items: center;
    position: relative;
    z-index: 9999;
    width: 100%;
    margin-top: 40px;
    padding: 3.1vh 1vw;
    background-color: #121212;
    color: #cccccc;
    font-family: 'Helvetica Neue', sans-serif;
    border-top: 4px solid #8B1E1E;
}

footer h1 {
    /*Titolo principale footer*/
    display: inline-block;
    margin-bottom: 1vh;
    padding-bottom: 0.52vh;
    color: #F5F5F5;
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    border-bottom: 1px solid #2F86C1;
}

footer h2 {
    /*Titolo secondario footer*/
    padding-bottom: 0;
    color: #aaaaaa;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2;
    border-bottom: none;
}

.social .ig,
.social .fb,
.social .tk {
    display: inline-block;
    width: 2.1vw;
    /* Dimensione perfetta per la colonna */
    margin: 0 0.78vw;
    color: #F5F5F5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social .ig:hover,
.social .fb:hover,
.social .tk:hover {
    color: #FFD94A;
    transform: translateY(-5px);
}


/*MEDIA QUERIES (RESPONSIVE) */

@media (max-width: 900px) {
    footer {
        /*Divide il footer in 3 colonne uguali */
        grid-template-columns: repeat(3, 1fr);
        /*spazio tra un colonna e l'altra*/
        gap: 40px;
        padding: 30px 20px;
        /*forza tutti i test ad allinearsi al centro */
        text-align: center;
    }
    .info,
    .contatti,
    .social {
        text-align: center;
    }
}


/*ADATTAMENTO PER MEZZO SCHERMO E TABLET*/

@media (max-width: 768px) {
    /* Header Mobile */
    .header {
        height: 60px;
        border-bottom: none;
    }
    /* IL Menu Hamburger viene reso visibile*/
    .hamb-menu {
        display: flex;
        /*allinea le righe nell'header*/
        align-items: center;
        /*centra le righe orizzontalmente all'header*/
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
    }
    /* Menu a tendina */
    .header-menu {
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 9998;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        background-color: #1d1d1f;
        border-bottom: 2px solid #FFD94A;
        opacity: 0;
        visibility: hidden;
        /*gestisce l'animazione a tendina che scende quando viene aperto*/
        transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    }
    .menu-open .header-menu {
        opacity: 1;
        visibility: visible;
    }
    .header-menu li {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .header-menu li a {
        display: block;
        padding: 10px 5px;
        font-size: 0.6rem;
        /*crea una sottile riga grigia tra una voce e l'altra dell'header*/
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    .header-menu li:last-child a {
        /*toglie la riga grigia all'ultima voce del menù perchè già da quella gialla*/
        border-bottom: none;
    }
    /*Footer mobile */
    .social .ig,
    .social .fb,
    .social .tk {
        width: 30px;
    }
    .icon-big {
        margin-left: 10vw;
        margin-right: 3.2vw;
    }
}